{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_colbach/ticket
    Example context (json):
    {}
}}




<div class="block_colbach-{{uniqid}} block-colbach">
<div class="container">
    <div class="text-right">
        <p>{{#str}} username, block_colbach {{/str}}: Carlos Ramirez</p>
        <p>{{#str}} coursename, block_colbach {{/str}}: Propedeutico</p>
        <p>{{#str}} timecreated, block_colbach {{/str}}: 31 octubre 2024</p>
        <p>{{#str}} status, block_colbach {{/str}}: En espera</p>
    </div>
</div>

<span>{{#str}} ticketnum, block_colbach {{/str}} 1</span>
<h3>Problema con el curso propedeutico</h3>
<h2>{{#str}} description, block_colbach {{/str}}</h2>
<p>Tengo un problema para cargar el curso propedeutico y se tarda mas de 20 minutos en cargar la pagina</p>
</div>