{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_colbach/ticket
    Example context (json):
    {}
}}
<div id="block_colbach-{{uniqid}}" class="block-colbach block-cards">
    <div class="container">
        <div class="text-left summary">
            <p><strong>{{#str}} username, block_colbach {{/str}}:</strong> {{ username }}</p>
            <p><strong>{{#str}} coursename, block_colbach {{/str}}:</strong> {{ coursename }}</p>
            <p><strong>{{#str}} timecreated, block_colbach {{/str}}:</strong> {{ timecreated }}</p>
            <p><strong>{{#str}} status, block_colbach {{/str}}:</strong> {{ status }}</p>
        </div>
        <div class="mt-2 details">
            <h3>{{ title }}</h3>
            {{ description }}
        </div>
    </div>
</div>